* @wdhdev

# English
/src/guides/** @is-a-dev/docs-en
/src/media/** @is-a-dev/docs-en
/src/useful/** @is-a-dev/docs-en
/src/index.md @is-a-dev/docs-en

# Other Languages
/src/es/** @is-a-dev/docs-es
/src/fr/** @is-a-dev/docs-fr
